body {
    background-color: #f0f0f0; /* Светло-серый фон */
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Пример модернового шрифта */

}

.container {
    width: 80%;
    margin: 20px auto; /* Центрирование по горизонтали */
    background-color: #fff; /* Белая область */
    padding: 40px;
    border-radius: 10px; /* Скругление углов */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень для подчеркивания области */
}

.button-container, .button-container-vert{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.button-container-vert{
    flex-direction: column;
    width: 25%;
}

.button-container-hiscomm{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1, p {
    color: #333; /* Цвет текста */
}
a{
    text-decoration: none;
}
.form-control{
    margin: 5px auto;
    padding: 1px 5px;
    min-width:  187px;
    height: 30px;
    border-width: 1px;
    border-radius: 5px;
    border-color: gainsboro;
    font-size: 14px;
}

.form-overview{
    width: 100%;
    display: flex;
    justify-content: stretch;
}

.form-overview .button-blue, .form-overview .button-green,
.button-container-vert .button-green, .button-container-vert textarea{
    width: 100%;
    min-width: auto;
}

.button-container-vert .button-green, .button-container-vert .button-orange{
    width: calc(100% - 10px);
}

.button-container-vert textarea{
    margin: 5px;
    max-width: calc(100% - 10px);
    height: 50%;
}

#commentDiv{
    margin-top: 30px;
    height: 60%;
}

button {
    padding: 10px 20px;
    margin: 5px 5px;
    min-width: 200px;
    max-height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Скругление углов кнопок */
    font-size: 14px;
}

#logoutForm{
    display: flex;
    align-items: center;
    margin: 5px 5px;
    min-width: 200px;
    max-height: 40px;
    border: none;
    cursor: pointer;
}

/* Цвет кнопок при наведении */
button:hover {
    filter: brightness(0.8); /* Увеличение яркости при наведении */
}

/* Пример кнопок разных цветов */
.button-blue{
    background-color: #3498db; /* Синий цвет */
    color: #fff;
}
.button-blue-hiscomm{
    min-width: 50%;
}

.button-green {
    background-color: #2ecc71; /* Зеленый цвет */
    color: #fff;
}

.button-orange {
    background-color: #e67e22; /* Оранжевый цвет */
    color: #fff;
}

.button-grey{
    background-color: gainsboro;
    color: black;
}

#rowVisibility{
    margin: 10px 0 0 0;
    min-width: 100%;
}

.button-red {
    background-color: #e74c3c; /* Красный цвет */
    color: #fff;
}

#password-toggle{
    min-width: 50px
}

table{
    width: 100%;
    border-radius: 5px;
    border: 1px solid gainsboro;
    table-layout: fixed;
    word-wrap: break-word;
}
th, td{
    border: 1px solid #ccc; /* Добавляем границы ячеек */
    box-sizing: border-box; /* Учитываем границы в общей ширине */
    position: relative; /* Для корректного отображения псевдоэлементов */
}

th{
    background-color: gainsboro;
    height: 30px;
    /*max-width: 20%;*/
    cursor: pointer;
}
#history th, #comments th{
    max-width: none;
}

tr{
    min-height: 40px;
    min-width: 100%;
}

td{
    min-width: 10%;
    /*max-width: 20%;*/
    text-align: center;
    padding: 10px;
    min-height: 40px;
}

#history tr:nth-child(n+7), #comments tr:nth-child(n+7){
    display: none;
}
#history tr:nth-child(6), #comments tr:nth-child(6){
    position: relative;
}

#history tr:nth-child(6)::after, #comments tr:nth-child(6)::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,1) 70%);
}

.hide-pseudo::after{
    display: none;
}

#history th:first-child, #comments th:first-child{
    width: 20%
}

th:first-child{
    width: 5%;
}

#history th:last-child{
    max-width: 40%;
    width: 40%;
}
#history th:nth-child(2){
    max-width: 20%;
    width: 20%;
}
#comments th:last-child{
    max-width: 60%;
    width: 60%;
}
#comments th:nth-child(2){
    max-width: 20%;
    width: 20%;
}


th:last-child{
    width: 200px;
}

td:last-child{
    display: flex;
    justify-content: center;
}

.actBut {
    min-width: auto;
    display: block;
    box-sizing: border-box;
}

.grid, .grid-overview{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 15px;
}
.grid-overview{
    min-width: 70%;
    grid-row-gap: 5px;
}

.toprow-overview{
    grid-column-start: 1;
    grid-column-end: 3;
}

.leftcol{
    grid-column-start: 1;
    display: flex;
    justify-content: end;
}
h4{
    margin-top: 15px;
}
.midcol, .midcol-overview{
    grid-column-start: 2;
    margin: 5px 0 0 20px;
}
.midcol-overview{
    margin-top: 15px;
}
select, .inputCr, textarea{
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 16px;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em; width: 100%;
    max-width: 70%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    background-color: #fff;
    white-space: normal;
    resize: none;
}

#descr, #comm{
    height: fit-content;
    min-height: 100px ;
}

.file-upload {
    position: relative;
    display: inline-block;
}

.file-label {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.file-name {
    margin-left: 10px;
}

.create-container, .overview-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#createTicket{
    width: 70%;
}
.remBut{
    min-width: 80px;
    margin-left: 20px
}

.attachments-for-dwnld{
    background-color: gainsboro;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 50%;
    display: flex;
    justify-content: space-between;
}





