<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ticket overview</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="container">
    <div class="overview-container">
        <div class="grid-overview">
            <div class="toprow-overview"><h1 th:text="'Ticket ' + ${ticket.id} + ': ' + ${ticket.name}"></h1></div>
            <div class="leftcol"><h4>Category</h4></div>
            <div class="midcol-overview" th:text="${ticket.category}"></div>
            <div class="leftcol"><h4>Status</h4></div>
            <div class="midcol-overview" th:text="${ticket.state}"></div>
            <div class="leftcol"><h4>Created on</h4></div>
            <div class="midcol-overview" th:text="${ticket.createdOn}"></div>
            <div class="leftcol"><h4>Desired resolution date</h4></div>
            <div class="midcol-overview" th:text="${ticket.desiredResolutionDate}"></div>
            <div class="leftcol"><h4>Urgency</h4></div>
            <div class="midcol-overview" th:text="${ticket.urgency}"></div>
            <div class="leftcol"><h4>Description</h4></div>
            <div class="midcol-overview" th:text="${ticket.description != null ? ticket.description : '-'}"></div>
            <div class="leftcol"><h4>Owner</h4></div>
            <div class="midcol-overview" th:text="${ticket.ownerUsername}"></div>
            <div class="leftcol"><h4>Assignee</h4></div>
            <div class="midcol-overview" th:text="${ticket.assigneeUsername != null ? ticket.assigneeUsername : 'None'}"></div>
            <div class="leftcol"><h4>Approver</h4></div>
            <div class="midcol-overview" th:text="${ticket.approverUsername != null ? ticket.approverUsername : 'None'}"></div>
            <div class="leftcol"><h4>Attachments</h4></div>
            <div class="midcol-overview">
                <p th:if="${ticket.attachments == null}">None</p>
                <a class="attachments-for-dwnld" th:href="@{'/download/' + ${ticket.id} + '/' + ${attachment.name}}" th:each="attachment : ${ticket.attachments}">
                    <div style="max-width: 90%; word-wrap: break-word;" th:text="${attachment.name}"> </div>
                    <div style="display: flex; align-items: center">&#129147;</div>
                </a>
            </div>
        </div>
        <div class="button-container-vert">
            <form class="form-overview" method="get" action="/allTickets">
                <button class="button-blue" type="submit">All tickets</button>
            </form>
            <form class="form-overview" method="get" th:action="@{'/editTicket/' + ${ticket.id}}">
                <button class="button-green" type="submit">Edit ticket</button>
            </form>
            <button class="button-green" id="leaveCommentButton">Write a comment</button>
            <form id="commentDiv" method="post" th:action="@{'/leaveComment/' + ${ticket.id}}">
                <textarea class="commTextArea" id="commentTextArea" name="commentText" minlength="1" maxlength="500" required placeholder="Write your comment here..."></textarea>
                <button class="button-orange" id="addCommentButton" type="submit">Add comment to ticket</button>
            </form>
            <form id="feedbackDiv" method="post" th:action="@{'/leaveFeedback/' + ${ticket.id}}" th:if="${(#strings.equals(currentUserEmail, ticket.ownerEmail)) and (#strings.equals(ticket.state, 'Done'))}">

                <div class="rating" id="rating">
                    <div class="ratingItems">
                        <input id="star5" type="radio" value="5" class="star" name="star_rating">
                        <label for="star5" class="starLabel"></label>

                        <input id="star4" type="radio" value="4" class="star" name="star_rating">
                        <label for="star4" class="starLabel"></label>

                        <input id="star3" type="radio" value="3" class="star" name="star_rating">
                        <label for="star3" class="starLabel"></label>

                        <input id="star2" type="radio" value="2" class="star" name="star_rating">
                        <label for="star2" class="starLabel"></label>

                        <input id="star1" type="radio" value="1" class="star" name="star_rating">
                        <label for="star1" class="starLabel"></label>
                    </div>
                </div>

                <textarea class="commTextArea" id="feedbackTextArea" name="commentText" minlength="1" maxlength="500" placeholder="Write your comment in addition to feedback here..."></textarea>
                <button class="button-orange" id="addFeedbackButton" type="submit">Submit feedback</button>
            </form>
        </div>
    </div>
    <br>
    <div class="button-container-hiscomm">
        <button class="button-blue-hiscomm button-blue" id="histButton">History</button>
        <button class="button-blue-hiscomm button-blue" id="commButton">Comments</button>
    </div>
    <table id="history">
        <thead>
        <tr>
            <th data-type="date" data-order="1">Time <span class="arrow"></span></th>
            <th data-type="string" data-order="1">User <span class="arrow"></span></th>
            <th data-type="string" data-order="1">Action <span class="arrow"></span></th>
            <th data-type="string" data-order="1">Description <span class="arrow"></span></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="historyRow : ${ticket.historyRecords}">
            <td th:text="${historyRow.timestamp}"></td>
            <td th:text="${historyRow.username}"></td>
            <td th:text="${historyRow.action}"></td>
            <td th:text="${historyRow.description}" style="white-space: pre-line;"></td>
        </tr>
        </tbody>
    </table>
    <table id="comments">
        <thead>
        <tr>
            <th data-type="date" data-order="1">Time <span class="arrow"></span></th>
            <th data-type="string" data-order="1">User <span class="arrow"></span></th>
            <th data-type="string" data-order="1">Comment <span class="arrow"></span></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${ticket.comments}">
            <td th:text="${comment.timestamp}"></td>
            <td th:text="${comment.username}"></td>
            <td th:text="${comment.text}"></td>
        </tr>
        </tbody>
    </table>
    <button id="rowVisibility" class="button-grey" onclick="showFullTable()">Show all</button>
</div>
<script type="text/javascript">
    function formatDate(timestamp) {
        const date = new Date(timestamp);
        const options = { year: 'numeric', month: 'long', day: '2-digit', hour: 'numeric', minute: 'numeric' };
        return date.toLocaleDateString('en-UK', options);
    }

    const timestampCells = document.querySelectorAll('td:first-child');
    timestampCells.forEach(cell => {
        const timestamp = cell.textContent;
        cell.textContent = formatDate(timestamp);
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        sortGrid(0,'date',-1,document.getElementById('history'));
        sortGrid(0,'date',-1,document.getElementById('comments'));
    })

    let leaveCommentButton = document.getElementById('leaveCommentButton')
    let commentDiv = document.getElementById('commentDiv');
    let historyTable = document.getElementById('history');
    let commentsTable = document.getElementById('comments');
    let historyButton = document.getElementById('histButton');
    let commentsButton = document.getElementById('commButton');
    historyTable.style.display = 'table'; // hide historyTable
    commentsTable.style.display = 'none'; // show commentsTable
    commentDiv.style.display = 'none';

    historyButton.onclick = function () {
        toggleTablesVisibility(historyTable, commentsTable, historyButton, commentsButton);
    };

    commentsButton.onclick = function () {
        toggleTablesVisibility(commentsTable, historyTable, commentsButton, historyButton);
    };

    leaveCommentButton.onclick = function () {
        if (commentDiv.style.display === 'none') {
            commentDiv.style.display = 'block';
        }
        else {
            commentDiv.style.display = 'none';
        }
    }
    function toggleTablesVisibility(showTable, hideTable, activeButton, inactiveButton) {
        showTable.style.display = 'table';
        hideTable.style.display = 'none';
        switchButtonSelection(activeButton, inactiveButton);
    }

    function switchButtonSelection(activeButton, inactiveButton){
        activeButton.style = 'background-color: #fff; color: #3498db; border: 2px solid #3498db';
        inactiveButton.style = 'background-color: #3498db; color: #fff; border:none'
    }

    historyTable.onclick = function (e) {
        handleTableClick(e, historyTable);
    };

    commentsTable.onclick = function (e) {
        handleTableClick(e, commentsTable);
    };

    function handleTableClick(e, table) {
        if (e.target.tagName != 'TH') return;

        let th = e.target;
        let order = parseInt(th.dataset.order);

        sortGrid(th.cellIndex, th.dataset.type, order, table);

        // обновить порядок сортировки
        th.dataset.order = order === 1 ? -1 : 1;
        updateArrows(th, order);
    }

    function sortGrid(colNum, type, order, table) {
        let tbody = table.querySelector('tbody');
        let rows = tbody.querySelectorAll('tr');
        rows.forEach(row => {
            row.style.display = 'table-row';
        });
        let rowsArray = Array.from(tbody.rows);

        // compare(a, b) сравнивает две строки, нужен для сортировки
        let compare;

        switch (type) {
            case 'number':
                compare = function (rowA, rowB) {
                    return (rowA.cells[colNum].innerHTML - rowB.cells[colNum].innerHTML) * order;
                };
                break;
            case 'string':
                compare = function (rowA, rowB) {
                    return rowA.cells[colNum].innerHTML.localeCompare(rowB.cells[colNum].innerHTML) * order;
                };
                break;
            case 'date':
                compare = function (rowA, rowB) {
                    const dateTextA = rowA.cells[colNum].innerHTML;
                    const dateTextB = rowB.cells[colNum].innerHTML;
                    const monthNames = {
                        'January': 0,
                        'February': 1,
                        'March': 2,
                        'April': 3,
                        'May': 4,
                        'June': 5,
                        'July': 6,
                        'August': 7,
                        'September': 8,
                        'October': 9,
                        'November': 10,
                        'December': 11
                    };
                    const parseDate = function (dateText) {

                        const parts = dateText.split(' ');

                        const day = parseInt(parts[0]);
                        const month = monthNames[parts[1]];
                        const year = parseInt(parts[2]);

                        const timeParts = parts[4].split(':');
                        const hours = parseInt(timeParts[0]);
                        const minutes = parseInt(timeParts[1]);

                        return new Date(year, month, day, hours, minutes);
                    };

                    const dateA = parseDate(dateTextA);
                    const dateB = parseDate(dateTextB);
                    return (dateA - dateB) * order;
                };
                break;
        }

        rowsArray.sort(compare);
        tbody.innerHTML = ''; // Clear the tbody
        tbody.append(...rowsArray);
        let rowVisibilityButton = document.getElementById('rowVisibility');
        let sixthRows = document.querySelectorAll('#history tr:nth-child(6), #comments tr:nth-child(6)');
        if (rowVisibilityButton.textContent === 'Show all'){
            let additionalRows = document.querySelectorAll('#history tr:nth-child(n+7), #comments tr:nth-child(n+7)');
            additionalRows.forEach(function (row) {
                row.style.display = 'none';
            })
            sixthRows.forEach(function (row) {
                if (row.classList.contains('hide-pseudo')){
                    row.classList.remove('hide-pseudo');
                }
            })
        }
        else{
            console.log('ELSE CHOSEN');
            sixthRows.forEach(function (row) {
                if (!row.classList.contains('hide-pseudo')){
                    row.classList.add('hide-pseudo');
                }
            })
        }
    }

    function updateArrows(clickedTh, order) {
        // обновить стрелку у всех заголовков, кроме того, по которому кликнули
        Array.from(clickedTh.parentNode.children).forEach(th => {
            const arrow = th.querySelector('.arrow');
            if (th !== clickedTh) {
                arrow.textContent = '';
            } else {
                arrow.textContent = order === 1 ? '▲' : '▼';
            }
        });
    }
    function showFullTable(){
        let sixthRows = document.querySelectorAll('#history tr:nth-child(6), #comments tr:nth-child(6)');
        let additionalRows = document.querySelectorAll('#history tr:nth-child(n+7), #comments tr:nth-child(n+7)');
        let rowVisibilityButton = document.getElementById('rowVisibility');
        if (rowVisibilityButton.textContent === 'Show all') {
            additionalRows.forEach(function (row) {
                row.style.display = 'table-row';
            })
            sixthRows.forEach(function (row) {
                row.classList.add('hide-pseudo');
            })
            rowVisibilityButton.textContent = 'Hide';
        }else{
            additionalRows.forEach(function (row) {
                row.style.display = 'none';
            })
            sixthRows.forEach(function (row) {
                row.classList.remove('hide-pseudo');
            })
            rowVisibilityButton.textContent = 'Show all';
        }
    }
</script>

</body>
</html>